.header {
  width: 100%;
  box-shadow: 0 -10px 33px rgba(0, 0, 0, 0.8);
  height: 7vh;

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: relative;
  z-index: 2;

  background-color: lightcoral;
  color: white;
}

.hero {
  height: 93vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  background-color: lightblue;
  z-index: 1;
}

.hero > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.value {
  grid-column: 1 / 1;
  padding: 0px 17%;
}

.value-heading {
  font-size: 2.9rem;
  font-weight: 700;
}

.value-how {
  margin-top: 17px;
}

#hero-image {
  max-width: 80%;
  height: auto;
  grid-column: 2 / span 1;
}

/* Media Query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .value {
    margin-top: 10%;
    grid-column: 1;
  }

  #hero-image {
    grid-column: 1;
    margin-bottom: 33%;
  }
}
