.header ul {
  padding: 10px;
  display: flex;
  justify-content: space-around;

  background-color: wheat;
  border: 1px solid black;
}

.hero {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.value {
  grid-column: 1 / 1;
}

#hero-image {
  max-width: 100%;
  height: auto;
  grid-column: 2 / span 1;
}

/* Media Query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .value {
    grid-column: 1;
  }

  #hero-image {
    grid-column: 1;
    margin-top: 20px;
  }
}
